# Copyright 2020 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Release

on:
  push:
    branches: [ main ]

jobs:

  build:
    name: Release
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check out code
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Install go tools
      run: |
        go get golang.org/x/lint/golint
        go get golang.org/x/tools/cmd/cover

    - name: Fix apt-get state
      run: sudo apt-get update

    - name: Install apt packages
      run: sudo apt-get install libasound2-dev jq

    - name: Set up CodeClimate env
      run: |
        echo "::set-env name=GIT_BRANCH::${GITHUB_REF#refs/heads/}"
        echo "::set-env name=GIT_COMMIT_SHA::$GITHUB_SHA"

    - name: Prepare CodeClimate
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        curl -LSs 'https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64' >./cc-test-reporter;
        chmod +x ./cc-test-reporter
        ./cc-test-reporter before-build

    - name: Run tests
      env:
        CI: true
      run: ./test.sh

    - name: Upload coverage
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        ./cc-test-reporter after-build --prefix 'barista.run/'

    - name: Build binaries
      env:
        GITHUB_CLIENT_ID: ${{ secrets.GITHUB_CLIENT_ID }}
        GITHUB_CLIENT_SECRET: ${{ secrets.GITHUB_CLIENT_SECRET }}
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        OWM_API_KEY: ${{ secrets.OWM_API_KEY }}
      run: |
        ./build.sh -tags prod -o sample-bar ./samples/sample-bar
        go build -o i3status ./samples/i3status

    - name: Prepare release tag
      run: |
        git config credential.helper "store --file=.gitcredentials"
        echo "https://${{ secrets.DROID_GITHUB_TOKEN }}:@github.com" > .gitcredentials
        git push --delete origin "autorelease" || true

    - name: Delete existing release
      run: |
        release_url="$(curl https://api.github.com/repos/soumya92/barista/releases | jq -r '.[] | select(.name == "Samples") | .url')"
        test -n "$release_url" && curl -X DELETE -H "Authorization: token ${{ secrets.DROID_GITHUB_TOKEN }}" "$release_url" || true

    - name: Create new release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.DROID_GITHUB_TOKEN }}
      with:
        tag_name: autorelease
        release_name: Samples
        body: Automated build of samples/sample-bar and samples/i3status
        draft: false
        prerelease: false

    - name: Upload i3status Sample
      id: upload_i3status
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.DROID_GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./i3status
        asset_name: i3status
        asset_content_type: application/binary

    - name: Upload Sample Bar
      id: upload_sample_bar
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.DROID_GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./sample-bar
        asset_name: sample-bar
        asset_content_type: application/binary
